<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chartify Result</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Chartify Results</h1>
    <div id="uniq">
      <img class="imghere" src="<%= chartUrl %>" alt="Chart Image" />
    </div>
    <footer class="foot">Made with ❤️ by Anay</footer>
  </body>
</html>
